.container {
  margin: 0px;
  padding: 0px;
  width: 600px;
  border: 1px solid gray;
  border-radius: 10px;
  overflow: hidden;
}

.header {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid gray;
  height: 60px;
  padding: 0 15px;
}

.img {
  width: 600px;
  max-height: 700px;
  object-fit: contain;
  padding: 5px;
}

.footer {
  padding: 10px 15px;
}

.reactions {
  width: 65px;
  display: flex;
  justify-content: space-between;
}

.reaction_icon {
  font-size: 25px;
}

.description {
  margin: 10px 0;
}
