.container {
  height: 80px;
  width: 100%;
  display: flex;
  border: 1px solid #b7b7b7;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}

.logo {
  width: 140px;
}

.user {
  display: flex;
  align-items: center;
}

.name {
  font-size: 20px;
  margin-right: 10px;
  white-space: nowrap;
}
