.container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.posts_wrapper {
  margin-top: 40px;
}

.friend_list_container {
  position: fixed;
  top: 120px;
  right: 30px;
}

.add_new_btn_container {
  position: fixed;
  bottom: 30px;
  right: 30px;
}
