@value makerGreen from '../../../styles/colors.css';
@value makerRed from '../../../styles/colors.css';
@value makerOrange from '../../../styles/colors.css';

.btn {
  border: none;
  width: 100px;
  height: 50px;
  border-radius: 5px;
  cursor: pointer;
}

/* Background Colors */
.background_red {
  background-color: makerRed;
}

.background_green {
  background-color: makerGreen;
}

.background_orange {
  background-color: makerOrange;
}

/* Text Colors */
.white {
  color: white;
}

/* Sizes */
.small {
  width: 60px;
  height: 30px;
  font-size: 14px;
}
