.btn {
  border: none;
  width: 100px;
  height: 50px;
  border-radius: 5px;
}

/* Background Colors */
.background_red {
  background-color: #ea4444;
}

.background_green {
  background-color: #37b752;
}

/* Text Colors */
.white {
  color: white;
}

/* Sizes */
.small {
  width: 60px;
  height: 30px;
  font-size: 14px;
}
